<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <title>VGTU SponsorBook</title>
    </head>
    
    <body>
        
        <center>
            <hr>
            <br><br><br><br>
            <table>
                <tr>
                    <td><h1>SponsorBook</h1></td>
                    <td><h5>by Umbrella</h5></td>
                </tr>
            </table>
        
            <br>
            <br>
            
            <table>
                <tr>
                    <td><label>Username:</label></td>
                    <td><input type=text></td>
                </tr>
                <tr>
                    <td><label>Password:</label></td>
                    <td><input type=text></td>
                </tr>
            </table>
            <br>
            <button type=submit>Login</button>
        
        </center>
        <br><br><br><br>
        <hr>
    </body>
</html>